.Footer{

    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: fixed;
    bottom: -20px;
    margin-bottom: 20px;
    }
.Footer > a {
    text-decoration: none;
    margin-right: 10px;
    margin-top: 3px;
}

.Footer > a:visited{
    color: black;
}